@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white:#FFFFFF;
  --color-light: #f2f2f2;
  --color-dark-gray:#888EB0;
  --color-light-gray:#7E88C3;
  --color-light-purple:#9277FF;
  --color-dark-purple:#7C5DFA;
  --color-dark-red: #EC5757;
  --color-light-red:rgba(255, 151, 151);
  --color-dark-blue: #252945;
  --color-black: #0C0E16;
  --color-light-black:#141625;
  --color-green:#33D69F;
  --color-orange:#FF8F00;
  --bg-gray:#F9FAFE;


}

body {
background-color:var(--color-light);
color:var(--color-black);
font-size:16px;
}

.status-paid{
  color:var(--color-green);
}

.status-pending{
  color:var(--color-orange);
}

.status-draft{
  color:var(--color-light-black);
}

.label{
  color:var(--color-light-gray);
  font-size:12px;
}

.input{
  border:1px solid #DFE3FA;
  border-radius:4px;
  padding:8px;
}

.flexbox{
  display:flex;
  flex-direction: column;
  gap:5px;
  align-items: flex-start;
}

.smallFont{
  font-size:12px;
  color:var(--color-light-gray);
}

.error{
  color:var(--color-dark-red);
  font-size:11px;
}